/* header section */

header {
    display: inline-block;
    width:  100%;
    height: 56.25vw;
    margin-top: 4rem;

    background-image: url("../images/mainHeading.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

head img {
    visibility: hidden;
}

header div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header h1, header p {
    text-align: center;
}

header h1 {
    background: linear-gradient(to top, #a32704, #f4d4b0);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 10vw;
}

header p {
    font-size: 2.5vw;
}

/* content */

main {
    text-align: center;
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

#welcome {
    width: calc(100% - 4rem);
    margin: 4rem 2rem;
    text-align: center;
    text-transform: uppercase;

    font-size: 1.25rem;
}

section {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

article h3 {
    text-align: left;
}

footer {
    max-width: 60rem;
}

/* scaling */

@media screen and (min-width: 60em) {
    header {
        display: block;
        width: 60rem;
        height: 33.75rem;

        margin: 4rem auto auto auto;
    }

    header h1 {
        font-size: 6rem;
    }
    
    header p {
        font-size: 1.5rem;
    }
}