header h1 {
    background: linear-gradient(to top, #05628a, #abe7f2);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#faqContent {
    text-align: left;
    max-width: 60rem;
    margin: 4rem auto;
}

#faqContent * {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#faqContent p {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-image: linear-gradient(45deg, #1C292B, #01191c);
}

#faqContent p span {
    color: #da6b44;
}

#faqContent em {
    color: #72c9ed;
    font-style: normal;
}