footer {
    max-width: 52rem;
}

/* events */

article {
    border-bottom: 0.0625rem solid gray;
}

article h3 {
    height: 1.5rem;
    margin: 1rem 0;
}

section {
    height: 38rem;
}

#spotlight {
    display: inline-block;
    width: 32rem;
    height: 100%;
}

#spotlight .tourneyImg {
    width: 32rem;
    height: 18rem;
}

#tournamentDetails {
    display: inline-block;
    width: 100%;
    text-align: left;
}

#tournamentLinks {
    display: inline-block;
    vertical-align: top;
    height: 14.5rem;
}

#tournamentLinks button {
    display: block;
    margin: 1.75rem 0;
}

#tournamentSponsor {
    display: inline-block;
    vertical-align: top;
    height: 14.5rem;
    width: calc(100% - 14.5rem);
    text-align: center;
}

#tournamentSponsor img {
    display: inline-block;
    height: calc(100% - 3rem);
    width: auto;
}

#tournamentSponsor img:hover {
    opacity: 0.75;
}

#tournamentSponsor img:active {
    height: calc(100% - 4rem);
    padding: 0.5rem;
}

#tournamentSponsor p {
    text-align: center;
    font-size: 0.75rem;
    height: 1rem;
}

/* news */

aside {
    display: inline-block;
    width: 16rem;
    height: 100%;
    vertical-align: top;
}

aside article {
    display: inline-block;
    height: 50%;
    margin: 0 1rem -0.0625rem 1rem;
}

aside article img {
    width: 16rem;
    height: 9rem;
}

aside article button {
    display: block;
    margin: 1.75rem auto;
}

/* social links */

#socials h3 {
    margin: 4em auto 1rem auto;
    text-transform: uppercase;
}

#socials a {
    display: inline-block;
    margin: 1.5rem;
    text-align: center;
}

#socials img {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 50%;
}

#socials a:hover img {
    opacity: 0.75;
}

#socials a:active img {
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.375rem;
    margin: 0.25rem;
    margin-bottom: 0.5rem;
}

#socials p {
    height: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

#socials a:hover p {
    color: #eeba93;
}

#socials a:nth-of-type(1) img {
    background-color: #2C2F33;
}

#socials a:nth-of-type(2) img {
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#socials a:nth-of-type(3) img {
    background-color: #b9a3e3;
}

#socials a:nth-of-type(4) img {
    background-color: #F5F8FA;
}

#socials a:nth-of-type(5) img {
    background-color: white;
}

#socials a:nth-of-type(6) img {
    background-color: #010101;
}

/* about */

#about {
    display: block;
    max-width: 52rem;
    margin: 0 auto;
}

#about * {
    text-align: left;
}

#about h3 {
    font-size: 1.75rem;
    margin: 1rem 0;
}

#about h4 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.25rem;
}

#about p {
    font-size: 1rem;
}

/* contacts */

address {
    margin-bottom: 4rem;
}

address div {
    margin-bottom: 1rem;
}

address h4 {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-style: normal;
}

address img {
    display: inline-block;
    vertical-align: middle;
}

address p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* scaling */

@media screen and (max-width: 53.125em) {
    section {
        height: auto;
    }
    aside {
        width: 32rem;
    }
    aside article {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 34em) {
    aside {
        width: 100%;
    }
    #spotlight {
        display: inline-block;
        width: 100%;
    }
    #spotlight .tourneyImg {
        width: 100%;
        height: auto;
    }
    #tournamentDetails {
        text-align: center;
    }
    #tournamentSponsor {
        width: 100%;
    }
}