#mainHeader {
    margin: 4em 1em 0 2em;
}

#mainHeader h4 {
    color: white;
}

#aboutContent {
    display: inline-block;
    width: calc(100% - 4rem);
    margin: 2rem;
    margin-top: 1rem;
}

#aboutContent * {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#aboutContent p {
    padding: 1rem;
    background-image: linear-gradient(-45deg, #324a4e, #1C292B);
    border-radius: 0.75rem;
    font-size: 1.25rem;
}

#aboutContent a {
    color: #406da2;
}

#aboutContent a:hover {
    color: #72c9ed;
}

#aboutContent h3 {
    margin: 1rem 0 1rem 0.5rem;
}

#aboutContent h4 {
    margin: 2rem 0 0.5rem 0.5rem;
}

#aboutContent div {
    display: block;
    max-width: 65rem;
    margin: 2rem auto;
}

#contacts * {
    display: block;
}

#contacts p {
    word-wrap: break-word;
}

#contacts h3 {
    width: 100%;
    margin: 1rem 0;
}

#aboutContent #aboutVideo {
    display: block;
    width: calc(100vw - 18rem);
    height: calc((100vw - 18rem) * 0.5625);
    max-width: 64rem;
    max-height: 36rem;
    margin: 1rem auto;
}

@media screen and (min-width: 65em) {
    #mainHeader {
        display: block;
        max-width: 65rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 45em) {
    #mainHeader {
        margin-right: 1em;
        margin-left: 1em;
    }
    #aboutContent {
        width: calc(100% - 2rem);
        margin-right: 1em;
        margin-left: 1em;
    }
    #aboutContent #aboutVideo {
        width: calc(100vw - 6.25rem);
        height: calc((100vw - 6.25rem) * 0.5625);
        max-width: none;
        max-height: none;
        margin: 1rem 0.25rem;
    }
    #aboutContent p {
        width: calc(100% - 1.25rem);
        padding-right: 0.5rem;
    }
}

@media screen and (max-width: 22em) {
    #mainHeader {
        width: 100%;
        margin-left: 0;
    }
    #mainHeader * {
        text-align: center;
    }
    #mainHeader li {
        width: 100%;
    }
    #mainHeader li:last-child {
        width: calc(100% - 1rem);
        margin-left: 0.5rem;
    }
    #aboutContent h3 {
        text-align: center;
    }
}