/* header section */

header h1 {
    background: linear-gradient(to top, #285041, #84C6AE);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    background-image: url("../images/tournamentsHeading.jpg");
}

article img, article .details {
    display: inline-block;
    vertical-align: top;
}

article * {
    vertical-align: top;
}

section {
    max-width: 60rem;
}

/* next tournament */

#next {
    display: block;
    text-align: left;
    border-bottom: 0.0625rem solid gray;

    text-align: left;
}

#next img {
    display: inline-block;
    height: auto;
    margin-bottom: 2rem;
    text-align: left;

    width: 30rem;
}

#next .details {
    display: inline-block;
    text-align: left;
    margin: 0 0 1rem 1rem;
    max-width: 29rem;
}

#next .details p {
    margin-bottom: 1rem;
}

#next .details span {
    color: #84C6AE;
    margin-left: 0.25rem;
}

#next button {
    margin: 2rem 0 1.5rem 0;
}

/* previous tournament & info & FAQ link */

#combined {
    display: inline-block;
    width: 69.5%;
}

#previous {
    vertical-align: top;
    text-align: left;
}

#previous img {
    display: inline-block;
    width: 16rem;
    height: 9rem;
    margin-right: 1rem;
}

#previous .details {
    display: inline-block;
}

#previous button {
    width: 12rem;
    margin: 1rem 0;
}

#previous .details a:nth-of-type(2) {
    display: block;
    margin: 1rem auto;
    max-width: 12rem;
}

#previous .details a:nth-of-type(2):hover {
    color: #eeba93;
}

#previous span {
    display: block;
    color: #CC5C38;
}

#previous h3 {
    margin: 2rem 0 1rem 0;
}

#questions {
    vertical-align: top;
    text-align: left;
}

#questions button {
    width: 6rem;
    margin: 1rem 0;
}

#questions p {
    margin: 1rem 0;
    margin-right: 2rem;
}

#questions h3 {
    margin-top: 2rem;
}

/* about tournaments */

#aboutTournaments {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: left;
}

#aboutTournaments img {
    display: block;
    margin: 2rem auto 1rem auto;
    width: 14rem;
    height: 14rem;
}

#aboutTournaments p, #aboutTournaments h3 {
    text-align: left;
}

#aboutTournaments p {
    margin: 1rem 0rem;
}

#aboutTournaments button {
    width: 10rem;
    margin: 1rem 0;
}

@media screen and (max-width: 60em) { 
    section {
        max-width: 100%;
    }

    #next {
        text-align: center;
    }

    #next img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #next button {
        margin-left: auto;
        margin-right: auto;
    }

    #next .details {
        max-width: 100%;
        margin-left: 0;
    }

    #next .details * {
        text-align: center;
    }
}

@media screen and (max-width: 53.125em) {
    #combined {
        max-width: 100%;
        width: 100%;
    }
    #previous {
        width: 100%;
    }
    #questions {
        width: 100%;
    }
    #aboutTournaments {
        width: 100%;
    }
    #questions p {
        margin-right: 0;
    }
}

@media screen and (max-width: 34em) {
    #next img {
        width: 100%;
        height: auto;
    }
}